<section class="container">
  <h2 class="text-main text-center my-3">
    {{ "Categories.pupler Categories:" | translate }}
  </h2>
  <div class="row">
    @for (item of allCatagories; track item._id ) {

    <div class="col-md-4">
      <div class="product my-2" (click)="getSpecificCategories(item._id)">
        <img
          [src]="item.image"
          height="300px"
          class="w-100"
          [alt]="item.name"
        />
        <h2 class="h5 text-main p-4 text-center text-capitalize">
          {{ item.name }}
        </h2>
      </div>
    </div>

    }
  </div>
  <div class="row g-3">
    @for (coteg of specificCategori; track coteg._id) {
    <div class="col-md-4 p-3 product">
      <h3 class="text-main">{{ coteg.name }}</h3>
    </div>
    }
  </div>
</section>
